name: Mobile CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - name: Get packages
        run: flutter pub get
        working-directory: mobile-app
      - name: Analyze
        run: flutter analyze
        working-directory: mobile-app
